/* ========when viewport is equal to 340 or less than that============= */
/* @media only screen and (max-width:340px){
    .header_area .main_menu .navbar,
    .header_area .main_menu .navbar .navbar-brand
{
    padding:2%;
    margin:0;
}
}
 */





/* if the viewport is equal to 340px or less than that */ 
@media only screen and (max-width: 340px){
    .header_area .main-menu .navbar,
    .header_area .main-menu .navbar .navbar-brand,
    .subscribe-area .subscribe .subscribe-title,
    .subscribe-area .subscribe .subscribe-title p, h4,
    .services-area,
    .subscribe-area .subscribe
    {
        padding: 2%;
        margin: 0%;
    }

    .site_main .site_banner .site-title h1{
        font-size: 41px;
    }

   .subscribe-area .subscribe form .input-textbox input{
        width: 15rem    !important;
    }

    .services-area .services{
        width: 13rem;
    }

}


/* if the viewport is equal to 340px or less than that */ 
@media only screen and (max-width: 792px){
    .site_main .about-area .about-title h2 > span{
        font-size: 31px;
        letter-spacing: 10px;
    }

    .brand-area .experience-area .years-area{
        padding-left: 1%;
        width: 49%;
    }

    .brand-area .experience-area .bg-panel{
        margin-left: 30%;
        width: 80%;   
    }

    .brand-area .experience-area .call-area{
        padding-left: 3%;
    }

    .project-area .button-group button{
        font: normal 500 18px/40px var(--roboto);
    }

    .site_main .about-area .about-title p{
        padding: 0%;
    }

    .subscribe-area .subscribe form .input-textbox input{
        width: 20rem;
        margin: 5%;
    }
}



/* if the viewport is equal to 1910px or less than that */ 
@media only screen and (max-width: 1910px){
    .header_area .main-menu .navbar{
        padding: 1rem;
    }

    /* .container{
        max-width: 90%;
    } */

    .site_main .brand-area,
    .services-area .services-title,
    .site_main .about-area{
        padding: 3% 4%;
    }


}